<div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div>
<br>

<mat-divider></mat-divider>
<br>
 <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" class="stats-card">
   <mat-card fxFlex="25">
      <app-widget-card label="New Users" total="67k" percentage="23%" [data]="cards"></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
      <app-widget-card label="Users retained" total="45k" percentage="50%" [data]="cards"></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
      <app-widget-card label="User engagement" total="6k" percentage="10%" [data]="cards"></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
      <app-widget-card label="Referrals" total="7k" percentage="20%" [data]="cards"></app-widget-card>
   </mat-card>
 </div>

 <br>
 <mat-divider></mat-divider>

 <br>

 <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
   <div fxFlex="60">
     <mat-form-field>
       <input (keyup)="applyFilter($event.target.value)" matInput>
     </mat-form-field>
     <div class="mat-elevation-z6">
       <mat-table [dataSource]="dataSource" matSort>
         <ng-container matColumnDef="position">
           <mat-header-cell *matHeaderCellDef >No.</mat-header-cell>
           <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="weight">
           <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
           <mat-cell *matCellDef="let element"> {{ element.weight }}</mat-cell>
         </ng-container>

         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
       <mat-paginator [pageSizeOptions]="[ 5, 10, 15]" showFirstLastButtons></mat-paginator>
     </div>
   </div>
   <div fxFlex="40">
    <app-widget-pie [data]="pieCharts"></app-widget-pie>
   </div>
 </div>
