<div>
  <app-widget-area></app-widget-area>
</div>
<br>

<mat-divider></mat-divider>
<br>
 <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" class="stats-card">
   <mat-card fxFlex="25">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
      <app-widget-card></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
      <app-widget-card></app-widget-card>
   </mat-card>
 </div>

 <br>
 <mat-divider></mat-divider>

 <br>

 <div>
   <div>table</div>
   <div>Pie chart</div>
 </div>
