@use '~@angular/material' as mat;

@include mat.core();

$my-theme-primary: mat.define-palette(mat.$amber-palette, 200);
$my-theme-accent: mat.define-palette(mat.$cyan-palette);
$my-theme-warn: mat.define-palette(mat.$gray-palette, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    warn: $my-theme-warn
  )
));

@include mat.all-component-themes($my-theme);
